*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-container{
    padding: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
    color: #fff;
}
.header{
    display: flex;
 
    width: 900px;
    justify-content: space-between;
   }
   .links{
    display: flex;
   }
.login{
    margin-left: 20px;
}
.menu-container{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    height: 300px;
}
.menu{
    border: 1px solid white;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscribe,
.social-icons{
      align-self: flex-end;
}
.photo-grid-container{
   display: flex;
   justify-content:center;
}
.photo-grid{
    display: flex;
    justify-content: flex-start;
    width: 900px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.first-item{
    order: 1;
}
.last-item{
    order:-1;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer-item{
    background-color: blue;
    height: 200px;
    border: 1px solid white;
    flex: 1;
}
.footer-two{
    flex: 2;
}
